.top_bar{
  height: 50px;
  display: block;
}

.top_bar .inner_bar{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary-dark);
}

.top_bar .inner_bar .section{
  display: flex;
  align-items: center;
  width: 30%;
}

.top_bar .inner_bar .section:nth-child(2){
  justify-content: center;
}

.top_bar .inner_bar .section:nth-child(3){
  justify-content: end;
}

.filename{
  padding-right: 10px;
}

.top_bar .inner_bar .section button,
.top_bar .inner_bar .section a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 40px;
  cursor: pointer;
  background: none;
}

.top_bar .inner_bar .section button i,
.top_bar .inner_bar .section a i{
  font-size: 20px;
}

.top_bar .image_input{
  padding: 10px;
  border-radius: var(--border-radius);
  background: var(--color-primary);
  cursor: pointer;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#content{
  width: 100%;
  height: 100%;
}

.create{
  height: calc(100vh - 100px - 2rem);
  padding: 1rem;
  overflow-x: none;
  overflow-y: auto;
  display: grid;
  grid-template-columns: calc(25% - 1.5rem) calc(25% - 1.5rem) calc(25% - 1.5rem) calc(25% - 1.5rem);
  grid-gap: 2rem;
}

.create i, .create b{
  color: black;
}

.create .content{
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1rem;
  background-color: var(--color-background);
  border-radius: var(--border-radius);
}

@keyframes flash{
  from {
    outline: 0rem solid white;
  } 
  to{
    outline: .75rem solid var(--color-primary);
  }
}

.create .content .story{
  resize: vertical;
  font-size: 1rem;
  margin-top: 0;
}

.create .content .part,
.create .content .story,
.create .content .choice{
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
}

.create .content .part{
  width: 100%;
  height: 1.5rem; 
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.create .content .btns{
  display: flex;
  width: 100%;
}

.create .content .part i{
  color: white;
  padding-left: .5rem;
}

.create .content .story{
  width: calc(100% - (0.75rem * 2));
  height: 100px;
  overflow-y: auto;
}

.create .content .link-btn{
  width: 100%;
}

.create .content .choice{
  max-height: 3rem;
  overflow-y: auto;
}

.create .content .story,
.create .content .choice{
  background-color: #eee;
  color: black;
  padding: 0.75rem;
}

.create .content .story:hover,
.create .content .choice:hover{
  background: white;
}

.create .content .btns .set{
  color: white;
  cursor: pointer;
  margin-left: .5rem;
}

/* <----- FOR SMALLER SCREENS -----> */
@media (max-width: 1500px) {
  .create{
    grid-template-columns: calc(33.3333333333% - 0.66666666666rem) calc(33.3333333333% - 0.66666666666rem) calc(33.3333333333% - 0.66666666666rem);
    gap: 1rem;
  }
}

@media (max-width: 1200px) {
  .create{
    grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
    gap: 1rem;
  }
}

@media (max-width: 900px) {
  .create .content .btns .set{
    font-size: 1.5rem;
  }

  .create{
    grid-template-columns: 100%;
  }
}